@-webkit-keyframes typing{from{width: 0;}}
@-webkit-keyframes blink-caret{50%{border-color: transparent;}}
body{
	background-color:black;
}
.bgimg{
	height: 100%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 1;
}
#Title{
	font-family: "Crimson Text";
	color:white;
	font-size: 40px;
	text-decoration: none;
	position: absolute;
	top: 45%;
	right: 20%;
	z-index: 6;
}
#Join{
	position: absolute;
	top: 50%;
	right: 32%;
	z-index:6;

}
h1{
	font-family: "Crimson Text";
	color: white;
	font-size: 100px;
	text-decoration: none;
	position: absolute;
	top: 40%;
	left: 10%;
	z-index: 10;
}
