<html>
	<head>
		<meta charset = "utf-8"/>
		<title>Join</title>
		<link rel="stylesheet" href = "/stylesheets/normalize.css"/>
		<link rel="stylesheet" href = "/stylesheets/foundation.min.css"/>
		<link rel="stylesheet" href = "/stylesheets/join.css"/>
		<link rel="stylesheet" href = "/stylesheets/global.css"/>
		<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
		<link href='//fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
		<script type="text/javascript">
			function store(){
				var inputUname = document.getElementById("username");
				localStorage.setItem("user_id", inputUname.value);
				var storedValue = localStorage.getItem("user_id");
				console.log(storedValue);
			}	
		</script>
	</head>
	<body>
		<h1>Join</h1>
		<h2>Welcome to Trail</h2>
		<div id="join-container">
			<form id="join-form" name="join-form" action="/rooms/"/>
				<input type="text" name= "username" placeholder="username" id="username"/>
				<div id= "submit-button">
					<button onclick= "store()"class= "button">Enter</button>
				</div>
			</form>
		</div>
	</body>
</html>
